@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #000;
    font-family: "Raleway", sans-serif;
}

h2 {
    color: #33A8DB;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px;

}

p {
    color: #FFF;
    font-size: 16px;
    max-width: 792px;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    margin: 24px 0;
}

header {
    height: 605px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 32px;
}

header, section {
    border-bottom: 1px solid #33A8DB;

}


.banner-content {
    width: 520px;
    text-align: center;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    width: 268px;
    height: 268px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;

    margin-bottom: 16px;
    justify-self: center;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-content>button {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 16px 0;
    color: #31A8DD;
    background-color: transparent;
    border: 2px solid #31A8DD;
    width: 65%;
    margin-top: 16px;
}

.banner-content>p {
    margin: 16px 0;
    font-size: 20px;
    line-height: 1.2;
}

#course-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: auto;
    padding: 90px 0;
}

#course-content p {
    line-height: 1.2;
    width: 55%;
}

section .module {
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 57px;
    padding: 16px 0;
    width: 535px;
    box-shadow: inset -3px 6px 3px rgba(0, 0, 0, .5);
}

section .module, #course-content p {
    margin: 24px auto;
}

.module>span {
    color: #33A8DB;
}

.module {
    color: #fff;
}


#transform-world {
    background-image: url(/trilha-css-desafio-01/assets/images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    height: 363px;
    display: flex;
}

#transform-world>p {
    font-size: 40px;
    font-weight: 900;
    text-transform: lowercase;
    text-shadow: 3px 2px #33A8DB;
    width: 244px;
    margin: auto;
    margin-left: 10%;
}

#professional-challenges {
    text-align: center;
    padding: 76px 0;
}

#professional-challenges img {
    margin: 32px auto;
}

#professional-challenges h2, #professional-challenges p{
    width: 60%;
    margin: auto;
}

#professional-challenges h2 {
    max-width: 742px;
}